@charset "utf-8";

/* CSS Layout for Carlos Ramos' Portfolio 
Layout by Carlos Ramos
Created: February, 15, 2023

/* Media Queries */
/* Mobile */
@media only screen and (max-width: 480px) {
    body {
        /* background-color: lightgrey; */
    }
    .NavigationBar #myLinks {
        display: none;
    }
    .icon {
        display: block;
      }
}

/* Tablet */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    body {
        /* background-color: grey; */
    }
    .NavigationBar #myLinks {
        display: none;
    }
    .icon {
        display: block;
      }
}

/* Desktop */
@media only screen and (min-width: 769px) {
    body {
        /* background-color: white; */
    }
    .NavigationBar #myLinks {
        display: block;
    }
    .icon {
        display: none;
      }
}