@charset "utf-8";

/* CSS Document for Carlos Ramos' Portfolio*/
body {
    font: 100%/1.4 'LektonRegular', Arial, Helvetica, sans-serif;
    color: black;
    }

/* Font Styles */
@font-face {
    font-family: 'LektonRegular';
    src: url('https://fonts.googleapis.com/css?family=Lekton');
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('https://fonts.gstatic.com/s/rubik/v14/iJWKBXyIfDnIV7nBrXyw023e.woff2') format('woff2');
  }

/* Style the navigation menu */
.NavigationBar {
    font: 'LektonRegular', sans-serif;
    overflow: hidden;
    background-color: black;
    position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.NavigationBar #myLinks {
    display: block;
}

/* Style navigation menu links */
.NavigationBar a {
    float: left;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

/* Style the hamburger menu */
.NavigationBar a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

/* Add a grey background color on mouse-over */
.NavigationBar a:hover {
    background-color: #ddd;
    color: black;
}

/* Style the active link (or home/logo) */
.active {
    background-color: black;
    color: white;
}

#Resume {
    text-align: center;
}

#SkillsContent, #IndexPage, #goals, #Resume, #Accomplishments, #Contact, #Form {
    margin: 20px;
    padding: 10px;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
}

/*Skills*/
#SkillsContent h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

#SkillsContent ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#SkillsContent li {
    margin-bottom: 5px;
}

#SkillsContent li:before {
    content: "\2022";
    margin-right: 5px;
    color: #333;
}

#IndexPage, #Resume, #SkillsContent, #Contact, #Accomplishments, #goals  {
    font-family: Rubik, LektonRegular, sans-serif;
    font-size: 16px;
}

#Resume ul {
    text-align: left;
    }
#Contact ul {
    list-style-type: none; 
}

#PageTitle {
    text-align: center;
}

#Welcome {
    text-align: center;
}

#Splash_image {
    text-align: center;
}

#Splash_image:hover {
    color: aqua;
}

#lipsum {
    text-align: center;
}

#Splash_image img {
    padding-top: 5px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

#Splash_image img:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

ul.ContactList {
    list-style-type: circle;
    margin: 0;
}