@charset "utf-8";

/* CSS Document for Carlos Ramos' Portfolio*/
body {
    background-color: rgba(39, 6, 6, 0.3);
    font: 100%/1.4 Cambria, Arial, Helvetica, sans-serif;
    color: black;
}

/* Style the navigation menu */
.NavigationBar {
    overflow: hidden;
    background-color: black;
    position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.NavigationBar #myLinks {
    display: none;
}

/* Style navigation menu links */
.NavigationBar a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

/* Style the hamburger menu */
.NavigationBar a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

/* Add a grey background color on mouse-over */
.NavigationBar a:hover {
    background-color: #ddd;
    color: black;
}

/* Style the active link (or home/logo) */
.active {
    background-color: black;
    color: white;
}

/*Skills*/
#SkillsContent {
    font-size: 16px;
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 10px;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
}

#SkillsContent h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

#SkillsContent ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#SkillsContent li {
    margin-bottom: 5px;
}

#SkillsContent li:before {
    content: "\2022";
    /* Add bullet point before each list item */
    margin-right: 5px;
    color: #333;
}

#PageTitle {
    text-align: center;
}

#Welcome {
    text-align: center;
}

#Splash_image {
    text-align: center;
}

#Splash_image:hover {
    color: aqua;
}

#lipsum {
    text-align: center;
}

#Splash_image img {
    padding-top: 5px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

#Splash_image img:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

ul.ContactList {
    list-style-type: circle;
    margin: 0;
}