@charset "utf-8";

/* CSS Document for Carlos Ramos' Portfolio*/
body {
    background-color: rgba(39, 6, 6, 0.3);
    font: 100%/1.4 Cambria, Arial, Helvetica, sans-serif;
    color: black;
}

/* Style the navigation menu */
.NavigationBar {
    overflow: hidden;
    background-color: black;
    position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.NavigationBar #myLinks {
    display: none;
}

/* Style navigation menu links */
.NavigationBar a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

/* Style the hamburger menu */
.NavigationBar a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

/* Add a grey background color on mouse-over */
.NavigationBar a:hover {
    background-color: #ddd;
    color: black;
}

/* Style the active link (or home/logo) */
.active {
    background-color: black;
    color: white;
}

/* #navigation-links{
    display: flex;    
}

#navigation-links ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    margin: 0px;
    margin-bottom: 10px;
    padding: 0;
    background-color: #333;
    height: 30px;
    width: 100%;
    font-size: 0.9em;
}
#togglebutton {
    background: black;
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
  } */
/* .toggle-button {
    font-size: 24px;
    color: white;
    background-color: grey;
    cursor: pointer;
  } */

/* #NavigationBar ul  > li {
	display: flex;
    width: 100%;
	
	color: white; 
	height: 100%;
	text-align: center;
	vertical-align:middle;
} */
/* #NavigationBar a.active {
  color: ;
} */
a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: darkgreen;
}

#PageTitle {
    text-align: center;
}

#Welcome {
    text-align: center;
}

#Splash_image {
    text-align: center;
}

#Splash_image:hover {
    color: aqua;
}

#lipsum {
    text-align: center;
}

#Splash_image img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

#Splash_image img:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

ul.ContactList {
    list-style-type: circle;
    margin: 0;
}