@charset "utf-8";

/* CSS Layout for Carlos Ramos' Portfolio 
Layout by Carlos Ramos
Created: February, 15, 2023
*/
.item1 {
    grid-area: title;
    text-align: center;
}
.item2 {
    grid-area: contact;
}

.item3 {
    grid-area: skills;
}

.item4 {
    grid-area: education;
}

.item5 {
    grid-area: languages;
}

.item6 {
    grid-area: profile;
}

.item7 {
    grid-area: experience;
}
@media only screen and (max-width: 767px)  {
    body {
    background-color: lightgray;
    }
}
/* Grid Container */
@media only screen and (min-width: 768px)  {
    body {
    background-color: grey;
    }

.grid-container {
    font-family: 'Hanken Grotesk', 'Courier', 'Cambria';
    display: grid;
    grid-template-areas:
        'title title title'
        'contact profile profile'
        'skills experience experience'
        'education experience experience'
        'education experience experience'
        'languages experience experience';
    gap: 10px;
    background-color: grey;
    padding: 10px;
    width: 80%;
    margin-left: 10%;
}
}